*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: white;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1015;
}

::-webkit-scrollbar-thumb {
  background: #ff9f43;
  border-radius: 20px;
}